<div class="min-h-screen flex flex-col">
  <!-- Spider Web Cursor Animation -->
  <app-spider-web-cursor
    [particleCount]="60"
    [maxDistance]="180"
    [cursorForce]="0.12"
    [speed]="0.6"
    [connectToCursor]="true"
    [pauseOnScroll]="false"
    [enableGlow]="true"
    [particleSize]="2.5"
    theme="auto"
    [enableTrails]="true"
    [enableGradient]="true"
    [enableWaveEffect]="true"
  ></app-spider-web-cursor>

  <app-header></app-header>
  <main [@routeAnimations]="prepareRoute(outlet)" class="flex-grow relative z-10">
    <router-outlet #outlet="outlet"></router-outlet>
  </main>
  <app-footer></app-footer>
</div>

